@import "tailwindcss";

@theme {
  --color-theme-base: #FEFCF8; /* Creme/off-white aquarelado */
  --color-theme-salmon: #F4A48B; /* Rosa Salmão Pastel */
  --color-theme-salmon-light: #FAD1C4; /* Versão clareada do salmão */
  --color-theme-brown: #593E2E; /* Marrom Terroso Escuro (África) */
  --color-theme-earth: #8C6A54; /* Marrom suave */
  
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}

html, body {
  @apply bg-theme-base text-theme-brown font-sans;
  scroll-behavior: auto; /* Deixamos pro Lenis cuidar */
}

/* Utilitários Extras para Tipografia Premium */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
